@page "/edit"
@using Microsoft.AspNetCore.Identity
@using System.Globalization;
@using bnbapp.Models;
@inject bnbapp.IRepository.IUserRepository UserRepository;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider _authenticationStateProvider
@layout BnBApp
@inject NavigationManager uriHelper;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BnB App - More Info</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
    @if (isSigned)
    {
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-purp sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="account">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Account</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider center">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item ">
                    <a class="nav-link" href="account">
 
                        <span class="fw-bold">Profile</span>
                    </a>
                </li>
                @if (isAdmin)
                {
                    <li class="nav-item ">
                        <a class="nav-link" href="administrator">
                            Admin

                        </a>
                    </li>
                }
                @if (isBulk)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="bulkvita">
                            <span> BulkVita </span>

                        </a>
                    </li>
                }
                <!-- Nav Item - Start -->
                <li class="nav-item ">
                    <a class="nav-link" href="start">
 
                        <span>Get Started</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Account Settings
                </div>

                <!-- Nav Item - Edit -->
                <li class="nav-item active">
                    <a class="nav-link" href="edit">

                         
                        <span>Edit Details</span>
                    </a>
                </li>
                
                <!-- Nav Item - Payment Methods WIP!!!
                <a class="nav-item collapsed" href="methods" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                     
                    <span>Payment Methods</span>
                </a>
                -->

                <li class="nav-item ">
                    <a class="nav-link" href="orders">

                         
                        <span>Orders</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="invoices">


                        <span>Invoices</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="repwd">

                         
                        <span>Change Password</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="reemail">

                         
                        <span>Change Email</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="delaccount">

                         
                        <span>Delete Account</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="logout">


                        <span>Logout</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Information
                </div>

                <!-- Nav Item - Home -->
                <li class="nav-item ">
                    <a class="nav-link" href="home">

                         
                        <span>Home</span>
                    </a>
                </li>

                <!-- Nav Item - About -->
                <li class="nav-item ">
                    <a class="nav-link" href="about">

                         
                        <span>About BnB</span>
                    </a>
                </li>
                <!-- Nav Item - Team -->
                <li class="nav-item ">
                    <a class="nav-link" href="team">

                         
                        <span>Meet The Team</span>
                    </a>
                </li>
                <!-- Nav Item - FAQs -->
                <li class="nav-item ">
                    <a class="nav-link" href="faq">

                         
                        <span>FAQs</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">


            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">



                        <!-- Home- Bnb Coding Tech -->
                        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home">
                            <div class="sidebar-brand-icon rotate-n-15">
                                <i class="fas fa-laugh-wink"></i>
                            </div>
                            <div class="sidebar-brand-text mx-3">BnBCoding Tech</div>
                        </a>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">



                            <!-- Nav Item - BnB logo -->
                            <div class="ms-auto">
                                <img class="float-end img-small4" alt="img-thumbnail" src="images/bnblogo.png" />
                            </div>



                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->


                            <h6 class="text-gray-600 pt-3">@userID</h6>



                        </ul>

                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Edit Personal Information</h1>
                            
                        </div>

                        <!-- Content Row -->
                        <div class="row">


                            <!-- Content Row -->

                            <div class="row">



                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Edit Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="font-weight-bold">Email:</h6> <p>@userID<a href="reemail"> Click Here To Channge Email Address</a></p>
                                        <p class="alert-danger">@error</p>
                                        <h6 class="font-weight-bold">First Name:</h6> <input type="text" @bind-value="user.FullName" class=" form-control bg-light border-0 small" placeholder="First Name" aria-label="Search" aria-describedby="basic-addon2">

                                        <h6 class="font-weight-bold">Last Name:</h6> <input type="text" @bind-value="user.LastName" class=" form-control bg-light border-0 small" placeholder="Last Name" aria-label="Search" aria-describedby="basic-addon2">

                                        <h6 class="font-weight-bold">Date Of Birth:</h6> <input type="date" class=" form-control bg-light border-0 small" placeholder="MM/DD/YYYY" @bind-value="DateOfBirth" aria-label="search" aria-describedby="basic-addon2">

                                        <a href="repwd">Click Here To Channge Password</a>
                                        <br>

                                        <div class="text-center pt-3">
                                            <button class=" w-100 btn btn-lg btn-primary" @onclick="@(e=>SaveUser())" >Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->

                        </div>
                        <!-- End of Main Content -->
                        <!-- Footer -->
                        <footer class="sticky-footer bg-white" id="bottom">
                            <div class="container my-auto text-center">
                                <div class="copyright text-center my-auto">
                                    <span>Copyright &copy; BnBCoding</span>
                                </div>
                            </div>
                        </footer>
                        <!-- End of Footer -->
                    </div>
                </div>
                <!-- End of Content Wrapper -->
            </div>
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Please login or create an account. <a href="l" class="alert-link">Login</a>. <a href="r" class="alert-link">Register</a>.
        </div>
    }
</body>

</html>


@code {
    User user = new User();
    List<User> users = new List<User>();
    DateTime DateOfBirth = DateTime.Today;
    string DOB;
    bool er = false;
    string error = "";
    bool isSigned = false;
    bool isUser = false;
    string userID = "";
    int counter;

    private void LoadUsers()
    {
        users = new List<User>();
        users = UserRepository.Gets();

    }
    private void SaveUser()
    {

        error = "";
        er = false;
        counter = 0;
        if (user.FullName != null)
        {
            foreach (char i in user.FullName)
            {
                counter = counter + 1;
                if (!char.IsLetter(i) && i != ' ') er = true;
            }
            if (counter == 0) er = true;
        }
        else er = true;
        counter = 0;
        if (user.LastName != null)
        {
            foreach (char i in user.LastName)
            {
                counter = counter + 1;
                //if i is not a letter and a SPACE then er is true
                if (!char.IsLetter(i) && i != ' ') er = true;
            }
            if (counter == 0) er = true;
        }
        else er = true;
        if (er) error = "Please Do Not Leave Input Empty Or Enter Symbols Or Numbers";
        else
        {
            error = "";
            counter = 0;
            user.Email = userID;
            DOB = DateOfBirth.ToShortDateString();
            string[] dates = DOB.Split('/');
            counter = 0;
            foreach (var date in dates)
            {
                counter = counter + 1;
                if (counter == 1) user.Month = date;
                else if (counter == 2) user.Day = date;
                else user.Year = date;
            }


            if (user.Id == 0) user = UserRepository.Save(user);
            else user = UserRepository.Update(user);

            // COMPANY 1
            // COMPANY 2
            // COMPANY 3
            LoadUsers();
            uriHelper.NavigateTo("account", forceLoad: true);

        }

    }
    private User CurrentUser()
    {

        foreach (User user in users)
        {
            if (user.Email == userID)
                return user;
        }
        return null;
    }


    bool isAdmin = false;
    bool isBulk = false;
    protected override async Task OnInitializedAsync()
    {
        LoadUsers();
        var user2 = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        if (user2.Identity.IsAuthenticated)
        {
            isSigned = true;
            userID = UserManager.GetUserName(user2);
            if (userID == "bnbcoding.tech@gmail.com" || userID == "bnbcoding.technologies@gmail.com" || userID == "beck.vilas@gmail.com" || userID == "andrea.bella0816@gmail.com") isAdmin = true;
            if (userID == "beck.vilas@gmail.com" || userID == "andrea.bella0816@gmail.com" || userID == "bnbcoding.technologies@gmail.com" || userID == "bulk.vita@gmail.com") isBulk = true;


        }
        if (CurrentUser() != null)
        {
            isUser = true;
            user = CurrentUser();
            DateOfBirth = DateTime.ParseExact(user.Day + "/" + user.Month + "/" + user.Year, "d/M/yyyy", CultureInfo.InvariantCulture);
        }
        
    }

}